.downloadFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: calc(min(30rem, 100%));
}

.downloadFileItem {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 0.25rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.downloadFileItem #downloadDisplay {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
  width: 100%;
}

.downloadFileItem #downloadDisplay p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.downloadFileItem #downloadDisplay p#downloadName {
  font-size: 1.5rem;
  font-weight: 700;
}

.downloadFileItem #downloadDisplay p#downloadContent {
  font-size: 1.2rem;
  font-weight: 500;
}

.downloadFileItem #downloadDisplay progress {
  width: 100%;
  height: 0.5rem;
  border: none;
  border-radius: 0.25rem;
}

.downloadFileItem.success {
  border-color: var(--success-color);
  background-color: var(--success-light-color);
  color: var(--success-color);
}

.downloadFileItem.file.success:hover {
  background-color: var(--success-color);
  color: var(--light-color);
}

.downloadFileItem.success #downloadDisplay progress::-webkit-progress-value {
  background-color: var(--success-color);
  transition: all 0.3s ease-in-out;
}

.downloadFileItem.success:hover #downloadDisplay progress::-webkit-progress-value {
  background-color: var(--light-color);
}

.downloadFileItem.loading {
  border-color: var(--primary-color);
  background-color: var(--primary-light-color);
  color: var(--primary-color);
  cursor: not-allowed;
}

.downloadFileItem.loading #downloadDisplay progress::-webkit-progress-value {
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.downloadFileItem.loading #downloadDisplay progress::-webkit-progress-bar {
  background-color: var(--light-color);
}

.downloadFileItem.text.success {
  position: relative;
}

.downloadFileItem.text.success .cover {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--success-color);
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.downloadFileItem.text.success:hover p {
  opacity: 0.2;
}

.downloadFileItem.text.success:hover .cover {
  opacity: 1;
}

@media (hover: none) {
  .downloadFileItem.success:hover {
    background-color: var(--success-light-color);
    color: var(--success-color);
  }

  .downloadFileItem.success:hover #downloadDisplay progress::-webkit-progress-value {
    background-color: var(--success-color);
  }

  .downloadFileItem.text.success:hover p {
    opacity: 1;
  }

  .downloadFileItem.text.success:hover .cover {
    opacity: 0;
  }
}