@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css');

* {
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

:root {
  --primary-color: #007bff;
  --primary-dark-color: #0056b3;
  --primary-light-color: #e3f1ff;
  --secondary-color: #6c757d;
  --secondary-light-color: #dfdfdf;
  --secondary-extra-light-color: #eeeeee;
  --success-color: #28a745;
  --success-dark-color: #218838;
  --success-light-color: #d4edda;
  --light-color: #f8f9fa;
  --dark-color: #343a40;

  --normal-font-family: 'Open Sans', sans-serif;
  --code-font-family: 'Source Code Pro', monospace;

  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: var(--normal-font-family);

  background-color: var(--light-color);
  color: var(--dark-color);
}

#app {
  display: flex;
  align-items: start;
  justify-content: center;

  width: 100%;
  min-height: 80vh;
}

@media (max-width: 425px) {
  :root {
    font-size: 12px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

footer p {
  margin: 0;
  padding: 0;

  font-size: 1.2rem;
  text-align: center;

  color: var(--secondary-color);
}

footer p a {
  color: var(--primary-color);

  text-decoration: none;

  transition: all 0.1s ease-in-out;
}

@media (hover: hover) {
  footer p a:hover {
    color: var(--primary-dark-color);

    text-decoration: underline;
  }
}