APP_DOMAIN=file.ch3nyang.top
SIGNAL_DOMAIN=signal.ch3nyang.top
TURN_DOMAIN=turn.ch3nyang.top
TURN_REALM=turn.ch3nyang.top
TURN_USER=easytransfer
TURN_PASSWORD=change-this-turn-password
PUBLIC_IP=82.29.67.202
RELAY_MIN_PORT=49160
RELAY_MAX_PORT=49200
